

{{{id=1|
P.<b1,b2,b3> = QQ[]
A = Matrix(P, 3, 4, [[1,1,2,b1], [1,0,1,b2], [2,1,3,b3]])
print A.echelon_form('row_reduction')
///
[            1             0             1            b2]
[            0             1             1       b1 - b2]
[            0             0             0 -b1 - b2 + b3]
}}}

{{{id=12|
type(A)
///
<type 'sage.matrix.matrix_mpolynomial_dense.Matrix_mpolynomial_dense'>
}}}

{{{id=2|
P.<r,delta,k,al0,al1,al2> = QQ[]
B = Matrix(P, 14, 14, [[1, 0, 0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0], [0, 0, 0, 1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0], [-1, 0, r, -1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0], [0, -delta, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, -1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, -1, 0, 1, 0, r, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 1, 0, r, 0], [0, 0, 0, 0, 0, 0, 0, -1, 0, al1, 0, al1*r + al2, 0, al0], [0, 0, 0, 0, 0, 0, 0, 0, -1, 0, al1, 0, al1*r + al2, al0], [0, 0, 0, 0, 1, 0, -1, 0, 0, 0, 0, 0, 0, 0], [0, -delta, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0], [-k, 1, 0, -k, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, 0]])
#view(latex(B.echelon_form()))
view(latex(B))
view(latex(B.rref()))
#print B.rref()
#parent(B)
///
<html><script type="math/tex">\newcommand{\Bold}[1]{\mathbf{#1}}\left(\begin{array}{rrrrrrrrrrrrrr}
1 & 0 & 0 & 0 & 0 & 0 & 0 & -1 & -1 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 1 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
-1 & 0 & r & -1 & 0 & 1 & 0 & 0 & 0 & 1 & 1 & 0 & 0 & 0 \\
0 & - \delta & 0 & 0 & 0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 1 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & -1 & 0 & 1 & 0 & r & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & -1 & 0 & 1 & 0 & r & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & -1 & 0 & \mathit{al}_{1} & 0 & r \mathit{al}_{1} + \mathit{al}_{2} & 0 & \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & -1 & 0 & \mathit{al}_{1} & 0 & r \mathit{al}_{1} + \mathit{al}_{2} & \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 1 & 0 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & - \delta & 0 & 0 & 0 & 0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
- k & 1 & 0 & - k & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 1 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & -1 & -1 & 0
\end{array}\right)</script></html>
<html><script type="math/tex">\newcommand{\Bold}[1]{\mathbf{#1}}\left(\begin{array}{rrrrrrrrrrrrrr}
1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & \frac{-2 \delta k \mathit{al}_{0} + 2 \mathit{al}_{0}}{- \delta k \mathit{al}_{1} + \delta k + k \mathit{al}_{2} + \mathit{al}_{1} - 1} \\
0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & \frac{2 k \mathit{al}_{0}}{- \delta k \mathit{al}_{1} + \delta k + k \mathit{al}_{2} + \mathit{al}_{1} - 1} \\
0 & 0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & \frac{-2 k \mathit{al}_{0}}{\delta k \mathit{al}_{1} -  \delta k -  k \mathit{al}_{2} -  \mathit{al}_{1} + 1} \\
0 & 0 & 0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & \frac{2 \delta k \mathit{al}_{0}}{- \delta k \mathit{al}_{1} + \delta k + k \mathit{al}_{2} + \mathit{al}_{1} - 1} \\
0 & 0 & 0 & 0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & \frac{2 \delta k \mathit{al}_{0}}{- \delta k \mathit{al}_{1} + \delta k + k \mathit{al}_{2} + \mathit{al}_{1} - 1} \\
0 & 0 & 0 & 0 & 0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & \frac{2 \delta k \mathit{al}_{0}}{- \delta k \mathit{al}_{1} + \delta k + k \mathit{al}_{2} + \mathit{al}_{1} - 1} \\
0 & 0 & 0 & 0 & 0 & 0 & 1 & 0 & 0 & 0 & 0 & 0 & 0 & \frac{2 \delta k \mathit{al}_{0}}{- \delta k \mathit{al}_{1} + \delta k + k \mathit{al}_{2} + \mathit{al}_{1} - 1} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0 & 0 & 0 & 0 & \frac{\mathit{al}_{2}}{- \mathit{al}_{1} + 1} & \frac{\delta k \mathit{al}_{0} \mathit{al}_{1} -  \delta k \mathit{al}_{0} + k \mathit{al}_{0} \mathit{al}_{2} -  \mathit{al}_{0} \mathit{al}_{1} + \mathit{al}_{0}}{\delta k \mathit{al}_{1}^{2} - 2 \delta k \mathit{al}_{1} -  k \mathit{al}_{1} \mathit{al}_{2} + \delta k -  \mathit{al}_{1}^{2} + k \mathit{al}_{2} + 2 \mathit{al}_{1} - 1} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0 & 0 & 0 & \frac{- \mathit{al}_{2}}{- \mathit{al}_{1} + 1} & \frac{- \mathit{al}_{0}}{- \mathit{al}_{1} + 1} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0 & 0 & \frac{r \mathit{al}_{1} -  r + \mathit{al}_{2}}{- \mathit{al}_{1} + 1} & \frac{2 r k \mathit{al}_{0} \mathit{al}_{1} + \delta k \mathit{al}_{0} \mathit{al}_{1} - 2 r k \mathit{al}_{0} -  \delta k \mathit{al}_{0} + k \mathit{al}_{0} \mathit{al}_{2} -  \mathit{al}_{0} \mathit{al}_{1} + \mathit{al}_{0}}{\delta k \mathit{al}_{1}^{2} - 2 \delta k \mathit{al}_{1} -  k \mathit{al}_{1} \mathit{al}_{2} + \delta k -  \mathit{al}_{1}^{2} + k \mathit{al}_{2} + 2 \mathit{al}_{1} - 1} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0 & \frac{- r \mathit{al}_{1} + r -  \mathit{al}_{2}}{- \mathit{al}_{1} + 1} & \frac{- \mathit{al}_{0}}{- \mathit{al}_{1} + 1} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 1 & \frac{-2 k \mathit{al}_{0}}{\delta k \mathit{al}_{1} -  \delta k -  k \mathit{al}_{2} -  \mathit{al}_{1} + 1} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0
\end{array}\right)</script></html>
}}}

{{{id=4|
view(latex(B.echelon_form('row_reduction')))
///
<html><script type="math/tex">\newcommand{\Bold}[1]{\mathbf{#1}}\left(\begin{array}{rrrrrrrrrrrrrr}
1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & - \mathit{al}_{1} & -1 & - r \mathit{al}_{1} -  \mathit{al}_{2} & - r & - \mathit{al}_{0} \\
0 & 1 & 0 & 0 & 0 & 0 & - k & 0 & 0 & - k \mathit{al}_{1} & - k & - r k \mathit{al}_{1} -  k \mathit{al}_{2} & - r k & - k \mathit{al}_{0} \\
0 & 0 & 1 & 0 & 0 & 0 & - k & 0 & 0 & - k \mathit{al}_{1} & - k & - r k \mathit{al}_{1} -  k \mathit{al}_{2} & - r k & - k \mathit{al}_{0} \\
0 & 0 & 0 & 1 & 0 & 0 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 1 & 0 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 1 & -1 & 0 & 0 & 0 & 0 & 0 & 0 & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0 & - \mathit{al}_{1} & 0 & - r \mathit{al}_{1} -  \mathit{al}_{2} & 0 & - \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 1 & 0 & -1 & 0 & - r & 0 \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & \mathit{al}_{1} - 1 & 0 & r \mathit{al}_{1} -  r + \mathit{al}_{2} & \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & 0 & - \mathit{al}_{1} + 1 & 0 & - r \mathit{al}_{1} + r -  \mathit{al}_{2} & 0 & - \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 0 & 0 & - \delta k + 1 & 0 & 0 & - \delta k \mathit{al}_{1} & - \delta k & - r \delta k \mathit{al}_{1} -  \delta k \mathit{al}_{2} & - r \delta k & - \delta k \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 0 & 0 & - \delta k + 1 & 0 & 0 & - \delta k \mathit{al}_{1} & - \delta k & - r \delta k \mathit{al}_{1} -  \delta k \mathit{al}_{2} & - r \delta k & - \delta k \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 0 & 0 & r k & 0 & 0 & r k \mathit{al}_{1} -  \mathit{al}_{1} + 1 & r k & r^{2} k \mathit{al}_{1} + r k \mathit{al}_{2} -  r \mathit{al}_{1} -  \mathit{al}_{2} & r^{2} k -  r & r k \mathit{al}_{0} -  \mathit{al}_{0} \\
0 & 0 & 0 & 0 & 0 & 0 & k & 0 & 0 & k \mathit{al}_{1} & k & r k \mathit{al}_{1} + k \mathit{al}_{2} - 1 & r k - 1 & k \mathit{al}_{0}
\end{array}\right)</script></html>
}}}

{{{id=8|
load_attach_path('/home/aurelien/local/git/sfc_proba')
load('transmat.py')
b2=bmw_sym_1F1BnW(2)
B2= b2.get_sym_CSP()
B2rref,piv = B2.rref()
#print B-B2
#print Brref
view(latex(B2rref))
///
<html><script type="math/tex">\newcommand{\Bold}[1]{\mathbf{#1}}\verb|Matrix([[1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al1*(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1)|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|al2,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|-al1*r|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|al1*(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1)|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|-(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1),|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1),|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0]])|</script></html>
}}}

{{{id=9|
print type(Matrix(QQ,B2))
print type(B),type(B2)
print type(B2rref)
print B2rref.row(-2)
print B2rref.row(-2).simplify()
///
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "_sage_input_18.py", line 10, in <module>
    exec compile(u'open("___code___.py","w").write("# -*- coding: utf-8 -*-\\n" + _support_.preparse_worksheet_cell(base64.b64decode("cHJpbnQgdHlwZShNYXRyaXgoUVEsQjIpKQpwcmludCB0eXBlKEIpLHR5cGUoQjIpCnByaW50IHR5cGUoQjJycmVmKQpwcmludCBCMnJyZWYucm93KC0yKQpwcmludCBCMnJyZWYucm93KC0yKS5zaW1wbGlmeSgp"),globals())+"\\n"); execfile(os.path.abspath("___code___.py"))' + '\n', '', 'single')
  File "", line 1, in <module>
    
  File "/tmp/tmp8hpt7m/___code___.py", line 3, in <module>
    print type(Matrix(QQ,B2))
  File "/home/aurelien/local/bin/SageMath/local/lib/python2.7/site-packages/sympy/matrices/dense.py", line 611, in __new__
    return cls._new(*args, **kwargs)
  File "/home/aurelien/local/bin/SageMath/local/lib/python2.7/site-packages/sympy/matrices/dense.py", line 603, in _new
    rows, cols, flat_list = cls._handle_creation_inputs(*args, **kwargs)
  File "/home/aurelien/local/bin/SageMath/local/lib/python2.7/site-packages/sympy/matrices/matrices.py", line 226, in _handle_creation_inputs
    raise TypeError("Data type not understood")
TypeError: Data type not understood
}}}

{{{id=10|
view(latex(Brref))
///
<html><script type="math/tex">\newcommand{\Bold}[1]{\mathbf{#1}}\verb|Matrix([[1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al1*(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1)|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|al2,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|-al1*r|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|al1*(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1)|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|-(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1),|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|(-al1*r|\phantom{\verb!x!}\verb|-|\phantom{\verb!x!}\verb|al2|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|r)/(-al1|\phantom{\verb!x!}\verb|+|\phantom{\verb!x!}\verb|1),|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|1,|\phantom{\verb!x!}\verb|0],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|1],|\phantom{\verb!x!}\verb|[0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0,|\phantom{\verb!x!}\verb|0]])|</script></html>
}}}

{{{id=11|
nw=10
delta, r, al0, al1, al2, k = var('delta, r, al0, al1, al2, k')	
A = Matrix([[1,0,0,0,0,0,0]]).augment( -matrix.ones(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]]))
A=A.stack( Matrix([[0,0,0,1,-1,0,0]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )				
A=A.stack( Matrix([[-1,0,r,-1,0,1,0]]).augment( matrix.zero(1,nw) ).augment(  matrix.ones(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )				
A=A.stack( Matrix([[0,-delta,0,0,0,1,0]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )
A=A.stack( Matrix([[0,0,0,0,1,-1,0]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )		 
A=A.stack( matrix.zero(nw,7).augment( -matrix.identity(nw) ).augment(  matrix.identity(nw) ).change_ring(SR).augment( r* matrix.identity(nw)  ).augment(matrix.zero(nw,1) ))
A=A.stack( matrix.zero(nw,7).augment( -matrix.identity(nw) ).change_ring(SR).augment( al1*matrix.identity(nw) ).augment( (al1*r+al2)*matrix.identity(nw) ).augment(al0 * matrix.ones(nw,1) ))
A=A.stack( Matrix([[0,0,0,0,1,0,-1]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )
A=A.stack( Matrix([[0,-delta,0,0,0,0,1]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )
A=A.stack( Matrix([[-k,1,0,-k,0,0,0]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )
A=A.stack( Matrix([[0,1,-1,0,0,0,0]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(Matrix([[0]])) )		
A=A.stack( Matrix([[0,1,0,0,0,0,0]]).augment( matrix.zero(1,nw) ).augment(  matrix.zero(1,nw) ).augment(  -matrix.ones(1,nw) ).augment(Matrix([[0]])) )	
#print A,type(A)
#print A.rref().simplify()
#Arref = A.rref()
#view(latex(Arref), engine='pdflatex', viewer='pdf')

P.<r,delta,k,al0,al1,al2> = QQ[]
AA = Matrix(P, A.nrows(), A.ncols(), A) 
view(latex(AA.rref()), viewer='pdf')
///
}}}

{{{id=17|

///
}}}